<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ApothecaryServlet</servlet-name>
        <servlet-class>za.ac.tut.controller.ApothecaryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ArchiveServlet</servlet-name>
        <servlet-class>za.ac.tut.controller.ArchiveServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EventServlet</servlet-name>
        <servlet-class>za.ac.tut.controller.EventServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OralHistoryServlet</servlet-name>
        <servlet-class>za.ac.tut.controller.OralHistoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>za.ac.tut.controller.AdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>za.ac.tut.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChronicleServlet</servlet-name>
        <servlet-class>za.ac.tut.controller.ChronicleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SpotlightServlet</servlet-name>
        <servlet-class>za.ac.tut.controller.SpotlightServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileServlet</servlet-name>
        <servlet-class>za.ac.tut.controller.ProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadServlet</servlet-name>
        <servlet-class>za.ac.tut.controller.UploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>za.ac.tut.controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddEventServlet</servlet-name>
        <servlet-class>za.ac.tut.controller.AddEventServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>za.ac.tut.controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ApothecaryServlet</servlet-name>
        <url-pattern>/ApothecaryServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ArchiveServlet</servlet-name>
        <url-pattern>/ArchiveServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EventServlet</servlet-name>
        <url-pattern>/EventServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OralHistoryServlet</servlet-name>
        <url-pattern>/OralHistoryServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/AdminServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChronicleServlet</servlet-name>
        <url-pattern>/ChronicleServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SpotlightServlet</servlet-name>
        <url-pattern>/SpotlightServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileServlet</servlet-name>
        <url-pattern>/ProfileServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/UploadServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddEventServlet</servlet-name>
        <url-pattern>/AddEventServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
